@model Lagerverwaltung.Models.ProcessArticle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProcessArticle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Process.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProcessArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
