@model IEnumerable<Lagerverwaltung.Models.ProcessArticle>

@{
    ViewBag.Title = "Geschäftsfall Artikel";
}

<h2>Geschäftsfall Artikel</h2>

<p>
    @Html.ActionLink("Hinzufügen", "Create", "ProcessArticles", new { id = ViewBag.ProcessId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article.Name)
        </td>
        <td>
            <strong>@Html.DisplayFor(modelItem => item.Article.Stock)</strong> Aktuell auf Lager
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)x Verbucht
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "ProcessArticles", new { id=item.ProcessArticleId }, null)
        </td>
    </tr>
}

</table>
