@model IEnumerable<Lagerverwaltung.Models.Process>

@{
    ViewBag.Title = "Index";
}

<h2>Geschäftsfälle</h2>

<p>
    @Html.ActionLink("Hinzufügen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transaction.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Artikel", "AddArticles", new { id = item.ProcessId }) |
            @Html.ActionLink("Löschen", "Delete", new { id = item.ProcessId })
        </td>
    </tr>
}

</table>
